/* Estilos para el encabezado */
body, html {
  height: 100%;
  margin: 0;
  padding: 0px;
}

header {
  background-color: #131516;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-right: 2px solid rgba(255, 255, 255, 0.956);
  position: fixed;
  width: 220px;
  height: 100vh;
  z-index: 10;
  padding-top: 20px;
}

nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 15px;
}

.nav-item {
  padding: 10px 0;
  transition: background-color 0.4s ease;
  width: 100%;
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 0 20px;
  font-size: 1.1em;
  font-weight: 100;
  font-family: 'Poppins', sans-serif;
  transition: color 0.3s ease;
  display: inline-block;
  width: calc(100% - 40px);
}

nav a i {
  margin-right: 10px;
  font-size: 20px;
  color: #ffffff;
}

nav a:hover {
  color: #1ef8af;
}

.nav-item a.active {
  color: #1ef8af;
}

.opciones-user a:hover, .opciones-user a.active {
  color: #1ef8af;
}



@media (max-width: 600px) {
  header h1 {
    font-size: 1.5em;
  }

  nav a {
    margin: 0 10px;
    font-size: 1em;
  }

  footer {
    font-size: 0.8em;
  }
}

.divider {
  border: none;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  margin: 10px 0px;
  width: 100%;
}

#icono {
  color: white;
  font-size: 30px;
  margin-left: 16px;
}

.tituloLogo {
  font-size: 28px;
  padding-left: 10px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  color: #1ef8af;
}

.user-info {
  text-align: center; /* Alinea el texto en el centro */
  margin-top: 10px; /* Espacio entre el avatar y el texto */
}
.dividerUser {
  border: none;
  border-top: 2px solid #1ef8af;
  margin: 10px 0px;
  width: 110%;
}

.textPerfil {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.opciones-user {
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  flex-direction: column; /* Apila los elementos verticalmente */
  padding: 10px; /* Ajusta el padding según sea necesario */
}

.user-name{
 text-align: center;
 color: white;
}

.avatar {
  height: 90px;
  width: 90px;
  padding: 0; /* Elimina el padding para centrar mejor */
}
