body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  background-color: #131516;
  flex-direction: row;
  align-items: flex-start;
  position: fixed;
  height: 100vh;
  width: 70px;
  /* Tamaño inicial cerrado */
  z-index: 10;
  border-right: 2px solid white;
  padding: 20px 0;
  transition: width 0.3s ease;
  overflow: hidden;
}

header.sidebar-open {
  width: 220px;
  /* Ancho cuando el sidebar está abierto */
}

.icon-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
}

nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 15px;
}

.nav-item {
  padding: 10px;
  transition: background-color 0.4s ease;
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 100;
  font-family: 'Poppins', sans-serif;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
}

nav a i {
  margin-right: 10px;
  font-size: 20px;
}

nav a span {
  display: none;
}

.sidebar-open nav a span {
  display: inline;
  padding-left: 10px;
}

nav a.active,
nav a.active i,
nav a.active span {
  color: #ee850d;
}

.opciones-user .user-icons a {
  display: flex;
  align-items: center;
  padding: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #ffffff;
}

.opciones-user .user-icons a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ee850d;
}

.opciones-user .user-icons a i {
  font-size: 24px;
  color: #75e0ee;
  margin: 5px 0;
  transition: color 0.3s ease;
}

.opciones-user .user-icons a:hover i {
  color: #75e0ee;
}

.user-info {
  text-align: center;
  margin-top: 10px;
}

.user-name {
  color: white;
  margin-right: 40px;
  margin-bottom: 20px;
}


.tituloLogo {
  font-size: 28px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  color: #ee850d;
  margin-left: 10px;
}

.divider,
.dividerUser {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin: 8px 0;
  width: 60%;
  transition: width 0.3s ease;
}

.sidebar-open .divider,
.sidebar-open .dividerUser {
  width: 80%;
}

#icono {
  color: white;
  font-size: 30px;
  margin-left: 10px;
}

.avatar {
  height: 90px;
  width: 90px;
  margin-bottom: 0;
  margin-right: 40px;
}


.avatar-container {
  width: 90px;
  height: 90px;
  margin-left: 45px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #007bff;

}
