
/* Fondo general para el contenedor de películas */
.movie-container {
   /* background-image: url('wallpaper.jpg');
  background-size: cover;
  background-repeat: repeat;
  background-color: #332f2f; */
  padding-left: 90px;
  padding-right: 20px;
  padding-top: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  column-gap: 6px;
  row-gap: 10px;
}

.movie-card {
  position: relative;
  transition: transform 0.3s;
}

.movie-card:hover {
  transform: scale(1.02);
}

.movie-card img {
  width: 265px;
  height: 390px;
  border: 2px solid #ffffff;
  border-radius: 8px;
  box-shadow: 2px 10px 6px rgba(0, 0, 0, 0.8);
}

.title-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(50, 50, 50, 0.7);
  color: white;
  padding: 5px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.movie-card:hover .title-container {
  opacity: 1;
}

.title-container h1 {
  font-size: 20px;

}

.title-container .rating {
  font-size: 20px;
  color: #f1c40f;
  margin-top: 5px;
}
