/* Contenedor principal para las películas */
.actor-movies-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 11px;
  justify-items: center;
  padding: 20px;
  background-color: #333;

}

/* Estilo para las tarjetas de películas */
.movie-card {
  width: 100%;
  max-width: 250px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  padding: 0;
  background-color: #222;
}

/* Efecto al hacer hover en la tarjeta completa */
.movie-card:hover {
  transform: scale(1.01);               /* Escala el contenedor completo al hacer hover */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Aumenta la sombra para el efecto de hover */
}

/* Estilo para la imagen de la película */
.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
  transition: transform 0.3s ease;
}

/* Estilos para el contenedor del título */
.title-container {
  padding: 10px;
  background-color: #222;
  color: white;
  text-align: left;
}

/* Estilo para el título de la película */
.movie-title {
  font-size: 16px;
  font-weight: bold;
  color:#ffbb00;
  margin: 0px 0px 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* Estilo para la fecha de estreno */
.movie-release-date {
  font-size: 14px;
  color: #ccc;
  margin: 0;
}

/* Mensaje cuando no se encuentran películas */
.no-movies-message {
  text-align: center;
  font-size: 18px;
  color: #888;
  padding: 20px;
}

/* Estilo para el botón "Volver al Menú Principal" */
.back-to-home {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, transform 0.3s ease;
  z-index: 1000;
}

.back-to-home:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.back-to-home:focus {
  outline: none;
}
