<div *ngIf="movie" class="movie-details" [ngStyle]="{'background-image': 'url(https://image.tmdb.org/t/p/original' + movie.backdrop_path + ')'}">
  <h2>{{ movie.title }}</h2>
  <div class="main-content">
    <img [src]="'https://image.tmdb.org/t/p/original' + movie.poster_path" [alt]="movie.title" class="poster-image">
    <div class="button-container">
      <button (click)="verSinopsis()" id="sinopsis">Ver Sinopsis</button>
      <button id="comprarEntrada">Comprar Entrada</button>
      <button id="verTrailer" *ngIf="trailerUrl" (click)="openTrailer()">Ver Trailer</button>
    </div>
  </div>

  <!-- Contenedor de actores -->
   <!-- <div class="actors-container">
    <div *ngFor="let actor of actors" class="actor-card">
      <img *ngIf="actor.profile_path" [src]="'https://image.tmdb.org/t/p/w200' + actor.profile_path" [alt]="actor.name">
       <p>{{ actor.name }}</p>
    </div>
  </div> -->


  <div class="thumbnail-button-container">
    <div class="thumbnail-container">
      <img *ngFor="let backdrop of backdrops" [src]="backdrop" class="thumbnail" (click)="openImage(backdrop)">
    </div>
  </div>

  <!-- Contenedor para la imagen ampliada -->
  <div *ngIf="selectedImage" class="overlay" (click)="closeImage()">
    <img [src]="selectedImage" class="enlarged-image">
  </div>

  <!-- Modal para mostrar la sinopsis -->
  <div *ngIf="showSynopsisModal" class="modal-overlay" (click)="closeSynopsisModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <h3>Sinopsis</h3>
      <div class="actors-container">
        <div *ngFor="let actor of actors" class="actor-card">
          <img *ngIf="actor.profile_path" [src]="'https://image.tmdb.org/t/p/original' + actor.profile_path" [alt]="actor.name">
          <p class="actor-name">{{ actor.name }}</p> <!-- Aquí se aplica la clase actor-name -->
        </div>
      </div>
      <p>{{ movie.overview }}</p>
      <button (click)="closeSynopsisModal()">Cerrar</button>
    </div>
  </div>
</div>
