
/* Asegúrate de que el fondo ocupe toda la pantalla */

.movie-details {
  margin: 1px;
  padding: 2px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding-left: 26px;
  padding-top: 0px;
   backdrop-filter: blur(5px);
}

/* Estilos del título */
.movie-details h2 {
  font-size: 3em;
  font-weight: bold;
  font-family: 'Orbitron', sans-serif;
  margin-top: 10px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

.poster-container {
  position: relative;
  display: inline-block;
}

/* Imagen del póster */
.poster-image {
  width: 280px;
  border-radius: 8px;
  box-shadow:5px 5px 4px rgba(0, 0, 0, 0.5)
  /* border: 2px solid #e67f1f; */
}


.favorite-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.6);
  border: none;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s;
}

.favorite-button:hover {
  background: rgba(255, 0, 0, 0.8);
}

.heart-icon {
  font-size: 18px;
  pointer-events: none;
}

.heart-icon.favorited {
  color: red;
}

.thumbnail-button-container {
  display: flex;
  align-items: flex-end;
}



/* Contenedor de los actores */
.actors-container {
  display: flex;
  justify-content: center;
  gap: 5px;
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

/* Tarjetas de los actores */
.actor-card {
  text-align: center;
  width: 165px;
  font-size: 0.75em;
  border: 2px solid rgb(230, 127, 31);
  border-radius: 8px;
  padding: 5px;

  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin-top: -140px;
}
/* Imagen de los actores */
.actor-card img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
}

/* Nombres de los actores */
.modal-content .actor-name {
  color: #ffffff;
  font-size: 1.5em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.modal-content .actor-character {
  color: #ffffff;
  font-size: 1.2em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Miniaturas */
.thumbnail-container {
  display: flex;
  gap: 5px;
  margin-top: 10px;
  animation: marquee 30s linear infinite;
  animation-play-state: paused;
}

.thumbnail {
  width: 255px;
  height: auto;
  border-radius: 5px;
  border: 2px solid #e67f1f;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.thumbnail-container:hover {
  animation-play-state: running;
}

@keyframes slide {
  0% { transform: translateX(0); }
  20% { transform: translateX(0); }
  25% { transform: translateX(-100%); }
  45% { transform: translateX(-100%); }
  50% { transform: translateX(-200%); }
  70% { transform: translateX(-200%); }
  75% { transform: translateX(-300%); }
  95% { transform: translateX(-300%); }
  100% { transform: translateX(0); }
}



@keyframes marquee {
  100% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Estilos de la descripción */
.movie-details p {
  font-size: 1.1em;
  padding-bottom: -15px;
  border-radius: 8px;
  margin: 5px 0;
}

.movie-details p strong {
  color: #ffcc00;
}

/* Efectos de entrada en el detalle */
.movie-details {
  animation: fadeIn 0.5s ease-in-out;
}


.button-container {
  display: flex;
  align-items: flex-end;
  gap: 5px;
  padding-top: 10px;
  margin-left: -14px;
}

#sinopsis {
  background-color: #e98009;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  width: 90px;
  height: 40px;
  transition: background-color 0.3s ease;
}

#comprarEntrada {
  background-color: #e98009;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  width: 110px;
  height: 40px;
  transition: background-color 0.3s ease;
}

#verTrailer{

  background-color: #e98009;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  width: 80px;
  height: 40px;
  transition: background-color 0.3s ease;
}

#verTrailer:hover{
  background-color: #cc3939;
}

#sinopsis:hover {
  background-color: #cc3939;
}

#comprarEntrada:hover {
  background-color: #cc3939;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.5s ease;
  z-index: 1000;
}

.enlarged-image {
  width: 70vw;
  height: 80vh;
  border-radius: 10px;
  border: 3px solid #e98009;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  object-fit: cover;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(1);
  }
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-overlay-trailer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

}

/* Contenedor del modal que incluye el iframe */
.modal-content-trailer {
  position: relative;
  background-color: #e7e7e7;
  padding: 10px;
  max-width: 85%;
  max-height: 92%;
  border: #e98009 solid 4px;
  height: 1000px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

/* Estilo para el iframe */
iframe {
  width: 1170px;
  height: 900px;
  border-radius: 5px;


}

.modal-content {
  background-color: #0B3954;
  color: #e67f1f;
  padding: 10px;
  padding-top: 10px;
  border-radius: 10px;
  width: 1000px;
  border: #e98009 solid 3px;
  margin-bottom: 400px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.7);
  text-align: center;
  animation: zoomIn 0.3s ease;
  flex-direction: column;
  align-items: center;
}

.p-review{

  color:white;

}
.modal-content h3 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.release-date {
  color: #e67f1f;
  font-weight: bold;
}

.modal-content p {
  font-size: 1.1em;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.trailer-button{

  margin-top: 10px;
  background-color: #e98009;
  color: white;
  border: none;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
}

.trailer-button:hover{

  background-color: #cc3939;
}
.modal-content button {
  background-color: #e98009;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 1em;
}


.modal-content button:hover {
  background-color: #cc3939;
}

/* Animación de zoom al aparecer el modal */
@keyframes zoomIn {
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(1);
  }
}



/* Botón de favoritos con el nuevo contenedor */
.button-container #favoritos {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 7px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 12px;
  background-color: #45aedf;

}

/* Estilos del ícono de corazón */
.heart-icon {
  color: rgb(255, 255, 255);
  font-size: 20px;
  transition: color 0.3s;
}

.heart-icon.favorited {
  color: red;
}

.button-container #favoritos:hover .heart-icon {
  color: #ff4d4d;
}

.divider-actor {
  border: none;
  height: 1px;
  background-color: #e98009;
  margin: 10px 0;
}


/* Estilo para el contenedor de géneros */
.genres-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  gap:3px;
  justify-content: center;
  align-items: center;
}
/* Estilo para cada género */
.genre-badge {
  background-color: #007BFF;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  cursor: default;
  transition: background-color 0.3s ease;
}

.genre-badge:hover {
  background-color: #0056b3;
}


@media (max-width: 393px) {

  .movie-details {
    margin: 1px;
    padding: 2px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding-left: 26px;
    padding-top: 0px;
     backdrop-filter: blur(5px);
  }

  .poster-container {
    position: relative;
    display: inline-block;
  }

  /* Imagen del póster */
  .poster-image {
    width: 243px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #e67f1f;
  }

  .movie-details h2 {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
  }

  .button-container {
    display: flex;
    align-items: flex-end;
    gap: 5px;
    padding-top: 10px;
    margin-left: -14px;
  }

  #sinopsis {
    background-color: #e98009;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 90px;
    height: 40px;
    transition: background-color 0.3s ease;
  }

  #comprarEntrada {
    background-color: #e98009;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    width: 110px;
    height: 40px;
    transition: background-color 0.3s ease;
  }

  #verTrailer{

    background-color: #e98009;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    width: 80px;
    height: 40px;
    transition: background-color 0.3s ease;
  }



  /* Tarjetas de los actores */
.actor-card {
  text-align: center;
  width: 68px;
  font-size: 0.75em;
  border: 2px solid rgb(230, 127, 31);
  border-radius: 8px;
  padding: 5px;

  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin-top: -140px;
}
/* Imagen de los actores */
.actor-card img {
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
}

/* Nombres de los actores */
.modal-content .actor-name {
  color: #ffffff;
  font-size: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.modal-content .actor-character {
  color: #ffffff;
  font-size: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.modal-content {
  background-color: #0B3954;
  color: #e67f1f;
  padding: 10px;
  padding-top: 10px;
  border-radius: 10px;
  width: 300px;
  height: 200px;
  border: #e98009 solid 3px;
  margin-bottom: 400px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.7);
  text-align: center;
  animation: zoomIn 0.3s ease;
  flex-direction: column;
  align-items: center;
}

.modal-content p{

  font-size: 10px;
}

.modal-content-trailer {
  position: relative;
  background-color: #e7e7e7;
  padding: 10px;
  max-width: 96%;
  max-height: 40%;
  /* border: #e98009 solid 4px; */
  height: 1000px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

iframe {
  width: 330px;
  height: 250px;
  border-radius: 5px;
}

.enlarged-image{

  width: 367px;
  height: 213px;
  margin-bottom: 100px ;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.5s ease;
  z-index: 1000;
}




}
