.tienda-container {
  text-align: center;
  padding: 20px;
  margin-left: 220px;
  position: relative;
  background-color: #242729;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}

.producto-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  max-width: 200px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  color: white;
}

.producto-imagen {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.nombreProducto {
  color: white;
}

.texto-cesta {
  color: rgb(255, 255, 255);
  padding-left: 5px;
  font-family: "Orbitron", sans-serif;
}

.cestaTexto {

  font-family: "Orbitron", sans-serif;
  color: rgb(0, 0, 0);
}

.filtros {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 20px;
}

.filtros label {
  font-weight: bold;
  color: white;
}

.filtros input,
.filtros select {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.cesta-icon {
  cursor: pointer;
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
}

.cesta {
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 10;
  padding: 10px;
  margin-right: 300px;
  height: auto;
  width: 400px;
  display: flex;
  flex-direction: column;

}


.btn-comprar-cesta {
  --bg: #000;
  --hover-bg: #6db7e2;
  --hover-text: #000;
  color: #fff;
  cursor: pointer;
  width: 120px;
  padding: 5px;
  border-radius: 6px;
  align-self: center;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
}

.btn-comprar-cesta:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.btn-comprar-cesta:active {
  transform: translate(0);
  box-shadow: none;
}


.producto-card button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.producto-card button:hover {
  background-color: #45a049;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.producto-card button:active {
  background-color: #3e8e41;
  transform: scale(0.95);
}


h2 {

  text-align: center;
  color: #333;
  margin-bottom: 15px;

}

.producto-cesta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;

}

.producto-cesta:last-child {
  border-bottom: none;

}

.imagen-cesta {
  width: 50px;
  height: auto;
  border-radius: 5px;
  margin-right: 15px;
}

.producto-cesta h2 {
  font-size: 1.2em;
  color: #333;
  flex: 1;
}

.producto-cesta p {
  margin: 0;
  color: #666;

}

.producto-cesta i {
  cursor: pointer;
  color: red;
  font-size: 1.2em;
  margin-left: 10px;

}

.producto-cesta i:hover {
  color: darkred;

}

.producto-cesta p {
  color: #666;

}

@media (max-width:393px){

  .tienda-container {
    text-align: center;
    padding: 20px;
    margin-left: 101px;
    position: relative;
    background-color: #242729;
  }


.producto-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  max-width: 200px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  color: white;
}

.producto-imagen {
  width: 56%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.nombreProducto {
  color: white;
  font-size: 12px;
}

.cesta {
  position: initial;
  top: 60px;
  right: 0;
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 10;
  padding: 10px;
  margin-right: 300px;
  height: auto;
  width: 244px;
  display: flex;
  flex-direction: column;

}

.btn-comprar-cesta {
  --bg: #000;
  --hover-bg: #6db7e2;
  --hover-text: #000;
  color: #fff;
  cursor: pointer;
  width: 120px;
  height: 39px;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 6px;
  align-self: center;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
}

.texto-cesta {
  color: rgb(255, 255, 255);
  padding-left: 5px;
  font-family: "Orbitron", sans-serif;
}

.cestaTexto {

  font-family: "Orbitron", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 16px;
  margin-bottom: -10px;
}

.producto-cesta h2 {
  font-size: 16px;
  color: #333;
  flex: 1;
  padding-right: 20px;
}

.producto-cesta p {
  margin: 0;
  color: #666;
  font-size: 14px;
}

}





