/* Contenedor general del formulario */
.FormContainer {
  display: flex;
  justify-content: center; /* Centra el formulario en el eje horizontal */
  align-items: center; /* Centra el formulario en el eje vertical */
  height: 100vh; /* Altura completa de la pantalla */
  background-color: #e9ecef; /* Fondo gris claro */
  background-image: url('napoleon.jpg'); /* Fondo con imagen */
  background-size: cover; /* Asegura que la imagen cubra todo el fondo */
  background-position: center; /* Centra la imagen de fondo */
  background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
}

/* Estilos del formulario */
.Form {
  width: 100%;
  max-width: 400px; /* Máxima anchura del formulario */
  padding: 2rem;
  background-color: #f9f9f9; /* Fondo blanco */
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
}

/* Contenedor para el icono y título */
.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

#icono {
  font-size: 40px; /* Tamaño del icono */
  color: #000000; /* Color del icono */
  margin-right: 10px;
}

.tituloLogo {
  font-size: 30px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  color: #ee850d;
}

/* Título del formulario */
h2 {
  text-align: center;
  color: #333;
  margin-bottom: 1.5rem;
}

/* Estilos de los campos de entrada */
.Form input[type="text"],
.Form input[type="email"],
.Form textarea {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 0.2rem;
  font-size: 1rem;
  box-sizing: border-box;
}

.Form input[type="text"]:focus,
.Form input[type="email"]:focus,
.Form textarea:focus {
  border-color: #6c63ff;
  outline: none;
  box-shadow: 0 0 8px rgba(108, 99, 255, 0.2);
}

/* Estilo para el textarea (mensaje) */
.mensaje {
  resize: none;
  height: 120px; /* Altura del textarea */
}

/* Estilos para los mensajes de error */
.error {
  color: red;
  font-size: 14px;

}

/* Estilos del botón de envío */
button[type="submit"] {
  width: 100%;
  padding: 0.8rem;
  background-color: #6c63ff;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #574bce;
}

button[type="submit"]:disabled {
  background-color: #bbb; /* Color gris cuando el formulario está deshabilitado */
  cursor: not-allowed;
}


/* Estilos para el botón Volver */
.boton-salir {
  position: absolute; /* Posiciona el botón en relación al contenedor */
  bottom: 20px; /* Ubica el botón 20px desde el borde inferior */
  left: 20px; /* Ubica el botón 20px desde el borde izquierdo */
  padding: 0.8rem 1.5rem;
  background-color: #5397d8;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton-salir:hover {
  background-color: #574bce; /* Color cuando se pasa el ratón */
}

.boton-salir:focus {
  outline: none; /* Elimina el borde de enfoque */
}


/* Estilos globales para los elementos label en el formulario */
.Form label {
  display: block;         /* Asegura que el label ocupe todo el ancho disponible */ /* Añade espacio debajo del label */
  color: #333;
  margin-top: 20px;          /* Establece el color del texto */
  font-size: 1rem;        /* Establece un tamaño de fuente consistente */
  font-weight: bold;      /* Hace que el texto del label sea negrita */
  font-family: Arial, sans-serif;  /* Establece una fuente legible */
}
