/* Fondo semitransparente detrás del modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

/* Contenedor principal del contenido modal LOGIN */
.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.25);
  z-index: 1000;
  border: 2px solid #f87d2b;
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Título del formulario */
.modal-content h2 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 20px;
   font-weight: bold;
}

/* Estilos de los inputs */
.modal-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1em;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s;
}

.modal-content input:focus {
  border-color: #007bff;
}

/* Estilo del botón de login */
.modal-content button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.modal-content button[type="submit"]:hover {
  background-color: #0056b3;
}
.modal-content button[type="submit"]:disabled {
  background-color: grey;
}
.btn-registar{
  width: 100%;
  padding: 12px;
  background-color: #f87d2b;
  color: white;
  margin-top: -300px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-registar:hover{
  background-color: #fa6400

}

/* Estilo para el enlace de registro */
.register-link {
  display: block;
  margin-top: 15px;
  color: #007bff;
  font-size: 0.9em;
  cursor: pointer;
  text-decoration: none;
}

.register-link:hover {
  color: #0056b3;
}

/* Estilo adicional para el mensaje de error */
.error-message {
  color: #ff4d4f;
  font-size: 0.9em;
  margin-bottom: 10px;
}


/* Contenedor de los avatares */
.avatar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

/* Estilo de cada avatar */
.avatar {
  height: 90px;
  width: 90px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* Efecto de hover sobre los avatares */
.avatar:hover {
  transform: scale(1.1);
}

/* Para asegurarse de que los avatares se mantengan en una fila */
@media (max-width: 768px) {
  .avatar-container {
    justify-content: space-around;
  }
}


/* Estilo para el contenedor principal del mensaje */
p-toast .ui-toast-message {
  background-color: #f10000;
  border-left: 5px solid #8c00ff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}



/* Posicionamiento del Toast */
.custom-toast {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: 'Arial', sans-serif;
}

/* Éxito */
.custom-toast.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

/* Error */
.custom-toast.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

